*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
  background: #96caf8;
}

.button{
  position: relative;
  cursor: pointer;
  top:30px ;
 
}

.img-gallery{
  width: 70%;
  margin: 100px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(250px, 1fr));
  grid-gap: 30px;
}

.img-gallery img{
  width: 100%;
  cursor: pointer;
}

.img-gallery img:hover{
  transform: scale(0.8) rotate(-15deg);
  border-radius: 15px;
  box-shadow: 0 32 7px rgba(68, 77n, 136, 0.2);
}

.full-img{
  width: 100%;
  height: 100vh;
  background: rgba(0,0,0,9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 100;
  font-size: 18px;
}

.full-img img{
  width:90%
  max-width 500px;
  
}

.full-img span{
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  color: #fff;
  cursor: pointer;
}

.line1,.line2,.line3,.line4,.line5,.line6{
  display: none;
  color: #fff;

}


.full-img span {
  position: absolute;
  top: 70px;
  padding: 10px;
  right: 50px;
  cursor: pointer;
}

/* Footer Styles*/
footer{
  background-color: var(--c-dark);
  padding: 70px 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer p, footer a {
  color: white;
  font-size: 16px;
}



/*theme and font changes*/
.color-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 925px;
  margin-top: 200px;
}

.color-box {
  width: 25px;
  height: 25px;
  margin: 0 5px;
  cursor: pointer;
  
}

.black {
  background-color: black;
}

.white {
  background-color: white;
}

.blue {
  background-color: blue;
}
.font-size-buttons {
  display: flex;
  margin-top: 25px;
  margin-left: 125px;
  
}

.font-size-buttons button {
  margin: 0 10px;
  cursor: pointer;
}
